@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app{
    @include m.tablet{
        display: grid;
        grid-template-columns: 40% 60%;
        min-height: 100vh;
    }

    .imagen{
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;
        @include m.tablet{
            height: auto;
        }
    }
    .app {
        width: 100%;
        margin: 0;
        padding: 3rem;
        @include m.tablet{
            overflow-y: scroll;
            @include m.scrollbar;
        }
    }
}

.barra {
    margin: 2.5rem;

    p{
        text-align: center;
    }
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .boton{
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
    }
}

.barra-servicios {
    margin-bottom: v.$separacion;

    @include m.tablet{
        display: flex;
        justify-content: space-between;
    }
    .boton {
        margin: 0 0 1rem 0;
        @include m.tablet {
            padding: 1.5rem;            
        }
    }
}